html {
  background:url('https://media.tenor.com/Q1wByYVX32oAAAAC/wide-nanami-jujutsu-kaisen.gif');
  background-size:cover;
  background-repeat:no-repeat;
  color: rgb(255, 0, 0);
}

h1{
  text-align: center;
}

div{
  border: 40px solid white;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}


.style1 {
  padding: 10px;
  background-color: lightgrey;
  border: 2px solid black;
}

.style2 {
  padding: 10px;
  margin: 20px;
  background-color: lightgrey;
  border: 2px solid black;
}

.style3 {
  display: inline-block;
  padding: 10px;
  background-color: lightgrey;
  border: 2px solid black;
}

header {
  padding: 20px;
  border: 1px solid black;
  background-color: #f0f0f0; 
}

section {
  width: calc(660px - 40px); 
  margin-left: 20px;
}

aside {
  width: 180px; 
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(23, 170, 45); 
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid rgb(28, 43, 110);
}